<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="savings" class="com.aop.Account"/>
	<bean id="ara" class="com.aop.AroundAspect"/>
	<bean id="proxyfb" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces" value="com.aop.Bank"></property>
		<property name="interceptorNames">
			<list>
				<value>ara</value>
			</list>
		</property>
		<property name="target">
			<ref bean="savings"/>
		</property>
    </bean>
</beans>